In [1]:
import pymongo

In [28]:
client = pymongo.MongoClient('mongodb://127.0.0.1:27017/')

mydb = client['Employee']

empinfo = mydb.employeeinfo

In [29]:
record = {
    'firstname':'bilal',
    'lastname':'momin',
    'department':'data science'
}

empinfo.insert(record)

ObjectId('5f6c9658451c4e24f0d95a59')

In [5]:
records = [
    {
        'firstname':'bilal',
        'lastname':'momin',
        'department':'data science',
        'qualification':'BE',
        'age':22
    },
    {
        'firstname':'Tim',
        'lastname':'Tech',
        'department':'data analysis',
        'qualification':'ME',
        'age':31
    },
    {
        'firstname':'krish',
        'lastname':'verma',
        'department':'development',
        'qualification':'B.Tech',
        'age':35
    }
]

empinfo.insert(records)

[ObjectId('5f6b470c451c4e24f0d95a51'),
 ObjectId('5f6b470c451c4e24f0d95a52'),
 ObjectId('5f6b470c451c4e24f0d95a53')]

In [11]:
#for first record
empinfo.find_one()

{'_id': ObjectId('5f6b470c451c4e24f0d95a51'),
 'firstname': 'bilal',
 'lastname': 'momin',
 'department': 'data science',
 'qualification': 'BE',
 'age': 22}

In [16]:
#select * for the employeeinfo
for record in empinfo.find({}):
    print(record)

{'_id': ObjectId('5f6b470c451c4e24f0d95a51'), 'firstname': 'bilal', 'lastname': 'momin', 'department': 'data science', 'qualification': 'BE', 'age': 22}
{'_id': ObjectId('5f6b470c451c4e24f0d95a52'), 'firstname': 'Tim', 'lastname': 'Tech', 'department': 'data analysis', 'qualification': 'ME', 'age': 31}
{'_id': ObjectId('5f6b470c451c4e24f0d95a53'), 'firstname': 'krish', 'lastname': 'verma', 'department': 'development', 'qualification': 'B.Tech', 'age': 35}

In [19]:
#query based on conditions
# example: select * from empinfo where firstname = tim
for record in empinfo.find({'firstname':'Tim'}):
    print(record)

{'_id': ObjectId('5f6b470c451c4e24f0d95a52'), 'firstname': 'Tim', 'lastname': 'Tech', 'department': 'data analysis', 'qualification': 'ME', 'age': 31}

In [20]:
#querying documents using query operators($in,$Lt,$gt,etc)
#$lt = less than
#$gt = greater than
#---select * from empinfo where qualification is in BE or B.Tech
for record in empinfo.find({'qualification':{'$in':['BE','B.Tech']}}):
    print(record)

{'_id': ObjectId('5f6b470c451c4e24f0d95a51'), 'firstname': 'bilal', 'lastname': 'momin', 'department': 'data science', 'qualification': 'BE', 'age': 22}
{'_id': ObjectId('5f6b470c451c4e24f0d95a53'), 'firstname': 'krish', 'lastname': 'verma', 'department': 'development', 'qualification': 'B.Tech', 'age': 35}

In [22]:
#and operator with query operator
for record in empinfo.find({'qualification':'ME', 'age':{'$lt':35}}):
    print(record)

{'_id': ObjectId('5f6b470c451c4e24f0d95a52'), 'firstname': 'Tim', 'lastname': 'Tech', 'department': 'data analysis', 'qualification': 'ME', 'age': 31}

In [23]:
#OR operators
for record in empinfo.find({'$or':[{'firstname':'bilal'},{'qualification':'ME'}]}):
    print(record)

{'_id': ObjectId('5f6b470c451c4e24f0d95a51'), 'firstname': 'bilal', 'lastname': 'momin', 'department': 'data science', 'qualification': 'BE', 'age': 22}
{'_id': ObjectId('5f6b470c451c4e24f0d95a52'), 'firstname': 'Tim', 'lastname': 'Tech', 'department': 'data analysis', 'qualification': 'ME', 'age': 31}

In [24]:
inventory = mydb.inventory

In [26]:
inventory.insert([
   { 'item': "journal", 'qty': 25, 'size': { 'h': 14, 'w': 21,'uom': "cm" }, 'status': "A" },
   { 'item': "notebook", 'qty': 50,'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "A" },
   { 'item': "paper", 'qty': 100, 'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "D" },
   { 'item': "planner", 'qty': 75, 'size': { 'h': 22.85,'w': 30,'uom': "cm" },'status': "D" },
   { 'item': "postcard", 'qty': 45, 'size': { 'h': 10, 'w': 15.25,'uom': "cm" },'status': "A" }
]);

In [27]:
for record in inventory.find({'size': { 'h': 14, 'w': 21,'uom': "cm" }}):
    print(record)

{'_id': ObjectId('5f6c928b451c4e24f0d95a54'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}